html,body{
  background-color: #570080;
  height: 100%;
  width: 100%;
}
h1{
  color: #008057;
  font-size: 2em;
}
p{
  color: #800000;
  font-size: 20px;
}
h2{
  color: #008057;
  font-size: 1.5em;
   }
